<div class="lineupScr">
    <div class="header">
        <div class="logo">
            <img src="assets/images/teamlogos/kinucks.png" alt="" class="image">
        </div>
        <!-- <div class="logo">
            <img *ngIf="team.logo" src="assets/images/teamlogos/{{team.logo}}" alt="">
        </div> -->
        <h1>{{team.teamname}}</h1>
    </div>
    <div class="content">
        <div class="playerList">
            <h2>Forwards</h2>
            <div class="line">
                <div class="player">{{fline1player1}}</div>
                <div class="player">{{fline1player2}}</div>
                <div class="player">{{fline1player3}}</div>
            </div>
            <div class="line">
                <div class="player">{{fline2player1}}</div>
                <div class="player">{{fline2player2}}</div>
                <div class="player">{{fline2player3}}</div>
            </div>
            <div class="line">
                <div class="player">{{fline3player1}}</div>
                <div class="player">{{fline3player2}}</div>
                <div class="player">{{fline3player3}}</div>
            </div>
        </div>
        <div class="playerList">
            <h2>Defense</h2>
            <div class="line defense">
                <div class="player">{{dline1player1}}</div>
                <div class="player">{{dline1player2}}</div>
            </div>
            <div class="line defense">
                <div class="player">{{dline2player1}}</div>
                <div class="player">{{dline2player2}}</div>
            </div>
            <div class="line defense">
                <div class="player">{{dline3player1}}</div>
                <div class="player">{{dline3player2}}</div>
            </div>
        </div>    
        <div class="playerList">
            <h2>Goalie</h2>
            <div class="line goalie">
                <div *ngFor="let player of goalies" class="player">#{{player.number}} {{player.fname}} {{player.lname}}</div>
            </div>
            
        </div>
    </div>
    <div class="footer"></div>
    
    
</div>
