<div class="matchupScr">
    <div class="header">
        <h1>{{gameTitle}}</h1>
    </div>
    <div class="teams">
        <div class="team">
            <div class="logo">
                <img src="assets/images/teamlogos/{{selGuestTeam.logo}}" alt="">
            </div>
            <div class="teaminfo">
                <h1>{{selGuestTeam.city}}</h1>
                <h2>{{selGuestTeam.teamname}}</h2>
            </div>
            
        </div>
        <div class="divider">
            VS
        </div>
        <div class="team">
            <div class="logo">
                <img src="assets/images/teamlogos/{{selHomeTeam.logo}}" alt="">
            </div>
            <div class="teaminfo">
                <h1>{{selHomeTeam.city}}</h1>
                <h2>{{selHomeTeam.teamname}}</h2>
            </div>
            
        </div>
    </div>
    <div class="footer">
        <div class="spacer"></div>
        <div class="sponsor-logo">
            <h3>Sponsored By</h3>
            <img src="assets/images/lakeside-gmc.png" alt="">
        </div>
        <div class="spacer"></div>
    </div>
</div>